.media-viwer{
    width: 75vw;
    height: 85vh;
    top: 53%;
    z-index: 1000;
}

.close-media-viwer-btn{
    position: absolute;
    top: 16px;
    right: 10px;
    padding: 4px 8px;
    z-index: 2;
}

.media-center{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;

    img, video{
        display: block;
        margin: 25px auto;
        max-width: 100%;
        max-height: 95%;
        border-radius: 10px;
        object-fit: contain;
        min-width: 450px;   
        min-height: 300px;
    }
}

@media (max-width: 600px) {
    .media-viwer{
        width: 90vw;
    }
}

@media (max-width: 500px) {
    .media-viwer{
        height: 75vh;
    }

    .media-center{
        img, video{
            min-width: 350px;   
            min-height: 200px;
        }
    }
}
