.friends-add-remove-btn{
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.accept-decline-btns{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete-btn-icon:hover{
  color: red;
}

.add-btn-icon:hover{
  color: var(--main-color);
}

.message-remove-section{
  display: flex;
  align-items: center;
}

.message-link{
  text-decoration: none;
  color: black;
  margin-right: 5px;
}