.delete-acc-container{
    width: 600px;
    top: 34%;
}

.delete-acc-header{
    text-align: center;
    position: relative;
}

.close-delete-acc-popup{
    position: absolute;
    padding: 2px 6px;
    right: 10px;
    top: -5px;
}

.delete-acc-titles{
    text-align: center;
}

.delete-acc-input-section{
    display: flex;
    justify-content: center;
    position: relative;
}
  
.input-delete-pass{
    width: 300px;
    font-size: 19px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
}
  
.input-delete-pass:focus{
    outline: none;
    border: 2px solid var(--main-color);
}

.show-pass-btn{
    cursor: pointer;
    position: absolute;
    border: none;
    background-color: #fff;
    right: 105px;
    top: 1px;
}

.delete-acc-btn{
    border: 2px solid red;
    outline: none;
}


@media (max-width: 625px) {
    .delete-acc-container{
        width: 450px;
    }

    .input-delete-pass{
        width: 250px;
    }

    .show-pass-btn{
        right: 55px;
        top: 1px;
    }
}

@media (max-width: 500px) {
    .delete-acc-container{
        width: 350px;
    }

    .input-delete-pass{
        width: 220px;
    }

    .show-pass-btn{
        right: 5px;
    }
}
